## **Libraries to be imported**

In [1]:
from os import listdir
import pandas as pd

### Format of a psv

In [3]:
sampl = pd.read_csv('./data/trainingA/p000001.psv', sep='|')
sampl.head()

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,HCO3,...,WBC,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,83.14,0,NaN,NaN,-0.03,1,0
1,97.0,95.0,NaN,98.0,75.33,NaN,19.0,NaN,NaN,NaN,...,NaN,NaN,NaN,83.14,0,NaN,NaN,-0.03,2,0
2,89.0,99.0,NaN,122.0,86.00,NaN,22.0,NaN,NaN,NaN,...,NaN,NaN,NaN,83.14,0,NaN,NaN,-0.03,3,0
3,90.0,95.0,NaN,NaN,NaN,NaN,30.0,NaN,24.0,NaN,...,NaN,NaN,NaN,83.14,0,NaN,NaN,-0.03,4,0
4,103.0,88.5,NaN,122.0,91.33,NaN,24.5,NaN,NaN,NaN,...,NaN,NaN,NaN,83.14,0,NaN,NaN,-0.03,5,0

## **Merge Data**

### **Train -Validation-Test Split**

First approach for solving early prediction of sepsis is to ignore the temporal component in the data. So each record can be treated as a single entity not dependent on any other record. This assumption might be flawed but for establishing a baseline, we are taking this assumption

Train : 30K Patients
Test : 5K Patients
Validation : 5K Patients

In [5]:
a_traincsv = listdir('./data/trainingA/')
b_traincsv = listdir('./data/trainingB/')


with open("train.psv","wb") as fout:

    for i,csv in enumerate(a_traincsv):

      # first file:
        if i == 0:
            with open('./data/trainingA/' + csv, "rb") as f:
                fout.write(f.read())
      # now the rest:    
        with open('./data/trainingA/' + csv, "rb") as f:
            next(f) # skip the header
            fout.write(f.read())

    for i,csv in enumerate(b_traincsv):
        if i <100000:
            with open('./data/trainingB/' + csv, "rb") as f:
                next(f) # skip the header
                fout.write(f.read())

In [6]:
train = pd.read_csv('./train.psv', sep ='|')
train.shape

(1552265, 41)

##### only A

In [9]:
a_traincsv = listdir('./data/trainingA/')


with open("./data/trainA.psv","wb") as fout:

    for i,csv in enumerate(a_traincsv):

      # first file:
        if i == 0:
            with open('./data/trainingA/' + csv, "rb") as f:
                fout.write(f.read())
      # now the rest:    
        with open('./data/trainingA/' + csv, "rb") as f:
            next(f) # skip the header
            fout.write(f.read())
train = pd.read_csv('./data/trainA.psv', sep ='|')
train.shape

(790270, 41)

##### only B

In [10]:
b_traincsv = listdir('./data/trainingB/')


with open("./data/trainB.psv","wb") as fout:

    for i,csv in enumerate(b_traincsv):

      # first file:
        if i == 0:
            with open('./data/trainingB/' + csv, "rb") as f:
                fout.write(f.read())
      # now the rest:    
        with open('./data/trainingB/' + csv, "rb") as f:
            next(f) # skip the header
            fout.write(f.read())
train = pd.read_csv('./data/trainB.psv', sep ='|')
train.shape

(762039, 41)

In [19]:
with open("validation.psv","wb") as fout:

    for i,csv in enumerate(b_traincsv):
    
        if i >=10000 and i <15000:

        # first file:
            if i == 10000:
                with open('/Users/wangkai/Desktop/physionet/data/trainingB/' + csv, "rb") as f:
                    fout.write(f.read())
        # now the rest:    
            with open('/Users/wangkai/Desktop/physionet/data/trainingB/' + csv, "rb") as f:
                next(f) # skip the header
                fout.write(f.read())

In [20]:
validation = pd.read_csv('./validation.psv', sep ='|')
validation.shape

(191631, 41)

In [21]:
with open("test.psv","wb") as fout:

    for i,csv in enumerate(b_traincsv):

        if i >=15000:

            # first file:
            if i == 15000:
                with open('/Users/wangkai/Desktop/physionet/data/trainingB/' + csv, "rb") as f:
                    fout.write(f.read())
                # now the rest:    
            with open('/Users/wangkai/Desktop/physionet/data/trainingB/' + csv, "rb") as f:
                next(f) # skip the header
                fout.write(f.read())

In [22]:
test = pd.read_csv('./test.psv', sep ='|')
test.shape

(190251, 41)